# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media
staticfiles
*.sqlite3

# Pytest
.cache
.pytest_cache/

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# Environment variables
.env

# Node (если используется фронтенд)
node_modules/

# Mac OS
.DS_Store
